# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3
.env
/staticfiles/
/media/

# Virtual environment
venv/
env/

# VSCode
.vscode/

# Migrations
**/migrations/__pycache__/
